body {
    background: #ccc ;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    width: 1800px;
    margin: auto;
}
#tittle, .subtitle, .post_tittle{
   color: black; 
}

#tittle{
    font-size: 40px ;
    text-transform: uppercase;
}
a{
    text-decoration: line-through;
    color:#505050  ;
}

.post_tittle {
    font-size: 16px ;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
.post{
    background-color: #fff;
    padding: 10px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}
.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: center;
    
}
.post_image{
    margin-bottom: 15px;
    width: 100%;
}

.contact_list{
    list-style-type: none;
    padding-left: 15px;

}
.contact_list li a {
    text-decoration: none;
}